language: python

sudo: false

env:
    - PYTHON="2.7"
    - PYTHON="3.4"
    - PYTHON="3.5"

before_install:
    - apt-get update
    - wget http://bit.ly/miniconda -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - conda update --yes --all
    - travis_retry conda create --yes -n test python=$PYTHON --file requirements.txt
    - source activate test
    - travis_retry conda install --yes --file requirements-dev.txt
    - if [[ "$PYTHON" != "3.5" ]]; then
        travis_retry conda install --yes mock ;
      fi
    - travis_retry pip install

script:
    - nosetests
    - find . -type f -name "*.py" | xargs flake8 --max-line-length=100
